/*
Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking.

When you update your theme, backup this file and re-add it after.
*/
/* Global */
.mystyle {}


/* Tablet - 800px, 768px & 720px */
@media only screen and (min-width: 720px) and (max-width: 800px) {
	.mystyle {}
}


/* Mobile - 480px & 320px */
@media only screen and (max-width: 719px) {
	.mystyle {}
}


/* Mobile - 320px */
@media only screen and (max-width: 479px) {
	.mystyle {}
}

/* Footer : Taille + Fixed position */
#footer-bottom .pad {
    padding-top: 0px;
		padding-bottom: 0px;
}
#footer .pad {
    padding-bottom: 0px;
}

/* Module de Pub */
.pub {
	text-align: center;
}

.separator {
	box-shadow: 0px 0px 12px #aaa;
	border: solid 0.5px #aaa;
}


.container{
	width: 100%;
	max-width: 100%;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	height: 53px;
}


.page-title {
	background: #26272b;
	color: #FFF;
	padding-bottom: 18px;
}

.page-title h1, .page-title h2, .page-title h4 {
    color: #fff;
}

.socialnet {
	padding-left: 5px;
}

.widget > h3{
	color:#731818;
	font-weight: bold;
}

.container {
	text-align: center;
	/*padding: 0 10px;*/
}

.banniere {
	padding-top: 10px;
}

/* Notes de musiq header */
@keyframes notes {
  0% {
    font-size: 25px;
    transform:translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    font-size: 60px;
    transform: translate(50px, -100px);
    opacity: 0;
  }
}
.muzieknootjes{
  display: block;
  margin: 10px 16%;
  position: relative;
  width: 100px;
  height: 60px;
  border: 0px solid #000
}

.noot-1 {
  top: 60px;
  left: 30px;
  transform-origin:0 0;
  animation: notes 2s infinite linear .5s;
  color: #731818;

}

.noot-1:hover{
  animaton-play-state: running;
}

.noot-2 {
  top: 30px;
  left: 90px;
  animation: notes 2s infinite linear 1s;
  color: white;
}

.noot-3 {
  top: 60px;
  left: 10px;
  animation: notes 2s infinite linear 1.5s;
  color: white;
}

.noot-4 {
  top: 30px;
  left: 100px;
  animation: notes 2s infinite linear 2s;
  color: #731818;
}


.noot-1,
.noot-2,
.noot-3,
.noot-4{
  position: absolute;
  font-size: 35px;
  opacity: 0;
}
