.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tiles {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tile {
  background-size: cover;
  width: 200px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  will-change: all;
}
.tile p {
  padding-bottom: .3em;
}
.tile .title, .tile .amount, .tile .icon {
  color: white;
}
.tile .title {
  font-size: 16px;
}
.tile .amount {
  font-size: 10px;
  font-weight: 200;
  opacity: .7;
}
.amount {
  overflow: hidden;
}
.tile .icon {
  font-size: 40px;
  padding-bottom: .3em;
}
.tile:hover, .tile.initial {
  -webkit-transform: scale(1.05) translate3d(0, 0, 0);
          transform: scale(1.05) translate3d(0, 0, 0);
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: -13px 11px 25px 1px rgba(0, 0, 0, 0.55);
  -webkit-transition: .3s;
  transition: .3s;
}
.tile:hover .icon, .tile:hover .title, .tile:hover .amount, .tile.initial .icon, .tile.initial .title, .tile.initial .amount {
  color: #786eab;
  opacity: 1;
}

.program-title {
  font-size: 35px;
  margin: 55px 0px;
}

.program-event * {
  text-align: justify;
}

.separator.prog {
  margin: 40px 0px;
}

.separator.prog.progevent {
  width: 30%;
}

.progevent-date {
  font-size: 20px;
  color: #731818;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.program-date {
  color: #731818;
}
